<!DOCTYPE html>
<html>

<body>

    <h1>Members</h1>

    <ul>
        {% for x in mymembers %}
        <li><a href="details/{{ x.id }}">{{ x.firstname }} {{ x.lastname }}</a></li>
        {% endfor %}
    </ul>

    <h1>Teens</h1>

    <ul>
        {% for x in mymembers %}
        {% if x.age < 20 %} <li><a href="details/{{ x.id }}">{{ x.firstname }} {{ x.lastname }}</a></li>
            {% endif %}
            {% endfor %}
    </ul>

    <h1>Adults</h1>

    <ul>
        {% for x in mymembers %}
        {% if x.age >= 20 %}
        <li><a href="details/{{ x.id }}">{{ x.firstname }} {{ x.lastname }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>

</body>

</html>